body {
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  background: url(/home1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
}

#review {
  font-family: sans-serif;
  width: 400px;
  height: 150px;
  color: black;
  font-size: 2em;
}
