<h1>All Restaurants</h1>

  #foreach($restaurant in $restaurants)
    <a href="/restaurants/$restaurant.getId()">$restaurant.getName()</a>
    <br>
  #end

<a href="/" type="submit" class="btn btn-info">Back To Homepage</a>
